body {
	background-color: gray;
}
 .menu-div-esp{
 	float: left;
 	height: 100%;
 	width: 30%;

 }
 #esp-img {
    width: 230px;
    height: 230px;
    margin-top: 20px;
    transition: transform .8s;

}
   

#esp-img:hover {
    transform: scale(1.1);
}

 #esp-wrapper   {
 	padding: auto;
 	margin: auto;
    background-color: #fff;	
}

 #wrapper-esp-all {
	background-color: #fff;
	height: auto;
	width: 100%;
 }
  #row{
	display: flex;
	flex-wrap: wrap;

}

#menu-esp-ul {
	list-style-type: none;
    width: 100%;
    text-align: left;
    background-color: #f5f5f5;
}

#menu-esp-ul li a {
    display: block;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 8px 16px;
    text-decoration: none;
}

#menu-esp-ul li a:hover {
    background-color: #555;
    color: white;
}



