/*Menu!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
 }


 header {
 	 height: 30px;
 	 width: 100%;
 	 background: #393939;
 	 margin-bottom: 10px;

 }

 #btn-menu {
 	display: none;
 }

 header label {
 	display: none;
 	width: 30px;
 	background: #393939;
 	height: 30px;
 }

 header label:hover {
 	cursor: pointer;
 	background: rgba(255,255,255,0.1);
 }


 ul {
 	list-style: none;
 	color: #fff;
 	text-align: center;
 }


 .menu ul {
 	list-style: none;
 	display: flex;
 	background: #393939;

 }

 .menu li:hover {
 	background: rgba(255,255,255,0.1);

 }


.menu a {
	display: block;
	padding: 13px 17px;
	color: #fff;
	text-decoration: none;
}

.menu a span {
	margin-left: 10px;
}


@media (max-width: 760px) {

	header label {
		display: block;
	}

	.menu {
		position: absolute;
		left: 0;
		width: 100%;
		transform: translateX(-100%);
		transition: all 0.5s;
	}

	.menu ul {
		display: block;
		background: #393939;
		 
	}
	.menu ul li:hover ul {
	display: none;
}
 
	.menu li {
		border-top: 1px solid #fff;
	}
	#btn-menu:checked ~ .menu {
		transform: translateX(0%);
	}
}