
.main-container {
	margin: 150px auto;
	width: 800px;
}

table  {
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 600px;
}

th, td {
	padding: 10px;
}

thead {
	background-color: #3B3B3B;
	border-bottom: solid 5px #000000;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover {
	background-color: #6C6C6C;
	color: white;
}
