
.banner {
    /* background: #000; */
    padding-top: 50px;
    color: #e9e9e9;
    display: table;
    min-height: 535px;
    position: relative;
    width: 100%;
}

.banner .table {
    height: 535px;
}

.table {
    display: table;
    width: 100%;
}

.table .table-cell {
    padding-bottom: 86px;
    vertical-align: bottom;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}



.table .row {
    position: relative;
    z-index: 1;
}

.col-xs-8 {
    width: 66.6666666667%;
}

.col-xs-5 {
	width: 32%;
}

.col-right {
    line-height: 1.4em;
    font-size: 1.25rem;
    font-weight: 100;
}



 .links .about-the-show {
    color: #e9e9e9;
    display: inline-block;
    font-size: .75rem;
    line-height: 1rem;
    margin: 0 0 0 15px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px;
}

.links .about-the-show:before {
    background: #e9e9e9;
    bottom: -3px;
    top: inherit;

}

a.about-the-show:before {
    background-color: #666;
    content: "";
    height: 2px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 70%;
    width: 100%;
    padding: 0!important;
}

.about-the-show:hover:before {
	width: 100%;
    animation-name: acercade;
    animation-duration: 0.4s;
}

@keyframes acercade {
    from {width: 0%;}
    to {width: 100%;}
}

.vbottom {
    display: inline-block;
    float: none!important;
    vertical-align: bottom;
}

a.btn {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fac50e;
    border: 2px solid #fac50e;
    border-radius: 1.15em/50%;
    color: #1b1b1b;
    display: inline-block;
    line-height: .75em;
    margin: .5em;
    max-width: 100%;
    min-width: 10.25em;
    overflow: hidden;
    padding: .65em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease,color .3s ease,border-color .3s ease,opacity .15s;
    vertical-align: middle;
    white-space: nowrap;
    font-size: .75rem;
    font-weight: 700;
}

a.btn:hover {
	background-color: #1b1b1b;
	color: #fac50e;
    border-color: #1b1b1b;
	
}






















