.carrusel {
    background-color: #d8d7d7;
    color: #919191;
    margin-bottom: 15px;
    padding-top: 15px;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1429px;
    padding: 0 15px;
    width: 100%;
}

.wrapper {
    background-color: #d8d7d7;
    position: absolute;
    padding: 0 20px;
}


 /*li.carrusel-item .show-item {
    float: left;
    position: relative;
    padding: 0 20px;
}
li.carrusel-item .show-item .row a{
    padding: 0px!important;
    width: 100%;
}*/

.figure .name {
    color: #333;
    font-style: normal;
    margin: 0 0 5px;
}

.desc .text {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    max-height: 3em;
}

.figure .desc {
     font-weight: 300; 
     line-height: 1.4; 
     margin: 15px 0 1.538em; 
    height: 7.308em; 
    max-width: 290px;
}

.row .figure {
    margin-left: 0;
    margin-right: 0;
}

.show-item .figure .desc {
    font-weight: 300;
    line-height: 1.4;
    margin: 15px 0 1.538em;
    height: 7.308em;
}